@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Vazir";
    src: url(../fonts/Vazir.eot);
    src: url(../fonts/Vazir.eot) format("embedded-opentype"),
      url(../fonts/Vazir.woff2) format("woff2"),
      url(../fonts/Vazir.woff) format("woff"),
      url(../fonts/Vazir.ttf) format("truetype");
}

body {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
    box-sizing: border-box ;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: unset;
    vertical-align: middle;
}

.ltr {
    direction: ltr;
}

.disabled{
    opacity: 70%;
    cursor: not-allowed;
    @apply bg-gray-100;
}

.Notivue__content-message {
    overflow: unset !important;
}

